<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.yuukaCoverMapper">
    <insert id="insert_url">
        INSERT INTO cover (
        url,
        description,
        create_time
        )
        VALUES (
        #{url},
        #{description},
        #{createTime, jdbcType=INTEGER}
        )
    </insert>

</mapper>